<style>
.active {
  background-color: blue!important;
}
::-webkit-scrollbar {
  display: none;
}
</style>

<ion-scroll id="filtersParent" direction="x" class="wide-as-needed">
  <span ng-repeat="filter in filters" id="filter-{{$id}}" ng-class="{active: filter.isActive}" ng-click="applyFilter('filter-' + {{$id}}, filter)"
   style="display: inline-block; width: 80px; padding: 10px; border: 1px solid red; text-align: center;">
    <img src="img/logo.png" width="50" height="50" />
    <br />
    <span style="font-size: 8px;">{{filter.name}}</span>
  </span>
</ion-scroll>
